In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
a = np.arange(6, 100, 4)
print(a)

[ 6 10 14 18 22 26 30 34 38 42 46 50 54 58 62 66 70 74 78 82 86 90 94 98]

In [7]:
a = np.array([1,2,3,np.nan,5,6,7,np.nan])
a = a[~np.isnan(a)]
print(a)

[1. 2. 3. 5. 6. 7.]

In [10]:
a = np.random.randint(1, 100, (5, 6))
print(a)
a.max

[[40 17 24 44 23 62]
 [58 87 72  5 48 81]
 [53 39 87 10 16 37]
 [65  4 99 93  2 94]
 [18 25 49 88 13 42]]

In [15]:
series = pd.Series(np.take(list('abcdefghijklmnop'), np.random.randint(16, size=500)))
unique_series = pd.unique(series)
fr = pd.value_counts(series)
print(unique_series)
print(fr)

['f' 'o' 'l' 'g' 'h' 'b' 'p' 'c' 'j' 'k' 'e' 'n' 'd' 'm' 'i' 'a']
g    40
k    37
b    35
j    34
p    33
c    33
a    33
h    32
m    32
l    31
d    31
o    30
f    29
n    25
i    23
e    22
dtype: int64

In [19]:
series = pd.Series(['01 Jan 2020', '10-19-2020', '20150303', '2013/04/04', '2012-05-05', '2013-06-06T12:20'])
s1 = pd.to_datetime(series)
print(s1)

0   2020-01-01 00:00:00
1   2020-10-19 00:00:00
2   2015-03-03 00:00:00
3   2013-04-04 00:00:00
4   2012-05-05 00:00:00
5   2013-06-06 12:20:00
dtype: datetime64[ns]

In [22]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [23]:
len(df)

93

In [30]:
new = df.rename(columns = {"Type" : "TypeOfCar"})
new.head(0)

Empty DataFrame
Columns: [Manufacturer, Model, TypeOfCar, Min.Price, Price, Max.Price, MPG.city, MPG.highway, AirBags, DriveTrain, Cylinders, EngineSize, Horsepower, RPM, Rev.per.mile, Man.trans.avail, Fuel.tank.capacity, Passengers, Length, Wheelbase, Width, Turn.circle, Rear.seat.room, Luggage.room, Weight, Origin, Make]
Index: []

[0 rows x 27 columns]

In [31]:
df.isna().sum()

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

In [32]:
df.isna().sum().max()

19

In [36]:
del df["EngineSize"]

KeyError: 'EngineSize'

In [38]:
del df["Length"]
# df.drop('Length')

KeyError: 'Length'

In [41]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})
df3=df1.join(df2, lsuffix = "_df1", rsuffix = "_df2")
print(df3)

    fruit  weight  price_df1  pazham  kilo  price_df2
0   apple    high          5   apple  high        4.0
1  banana  medium          7  orange   low        1.0
2  orange     low          5    pine  high        1.0
3   apple    high          2   apple   low        2.0
4  banana  medium          0  orange  high       11.0
5  orange     low          3    pine   low        9.0
6   apple    high         12     NaN   NaN        NaN
7  banana  medium         11     NaN   NaN        NaN
8  orange     low          3     NaN   NaN        NaN

In [75]:
df = pd.DataFrame(["STD,City\tState",
"33,Kolkata\tWest Bengal",
"44,Chennai\tTamil Nadu",
"40,Hyderabad\tTelengana",
"80,Bangalore\tKarnataka"], columns=['row'])
print(df)
df = df.row.str.split(',|/t', expand = True)
df

                       row
0          STD,City\tState
1  33,Kolkata\tWest Bengal
2   44,Chennai\tTamil Nadu
3  40,Hyderabad\tTelengana
4  80,Bangalore\tKarnataka

     0                     1
0  STD           City\tState
1   33  Kolkata\tWest Bengal
2   44   Chennai\tTamil Nadu
3   40  Hyderabad\tTelengana
4   80  Bangalore\tKarnataka

In [77]:
names = ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "model_year", "origin", "car_name"]
df_mpg = pd.read_csv("auto-mpg.data", header=None, names=names, delim_whitespace=True)