In [1]:
import numpy as np

In [2]:
import pandas as pd

In [6]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

In [8]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [13]:
rows_count = len(chipo.index)
print(rows_count)

4622

In [15]:
columns_count = len(chipo.columns)
print(columns_count)

5

In [17]:
name_columns = chipo.columns
print(name_columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [18]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [24]:
most_ordered = chipo.groupby('item_name')
most_ordered = most_ordered.sum()
most_ordered = most_ordered.sort_values(('quantity'), ascending = False)
most_ordered.head(1)

/var/folders/17/dvp8q9wx2p366skcqkmmx4t80000gn/T/ipykernel_11364/602159552.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  most_ordered = most_ordered.sum()

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [31]:
total_items_ordered = chipo.quantity.sum()
total_items_ordered

4972

In [30]:
m_ordered = chipo.groupby('choice_description').sum()
m_ordered = m_ordered.sort_values(['quantity'], ascending = False)
m_ordered.head(1)

/var/folders/17/dvp8q9wx2p366skcqkmmx4t80000gn/T/ipykernel_11364/2663435354.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  m_ordered = chipo.groupby('choice_description').sum()

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [32]:
chipo.item_price.dtype

dtype('O')

In [34]:
orders = chipo.order_id.value_counts().count()
orders

1834

In [37]:
# chipo.groupby('order_id').sum().mean()['revenue']

In [38]:
chipo.item_name.value_counts().count()

50

In [40]:
# part2
# How many products cost more than $10.0
chipo['item_price'] = chipo['item_price'].str.replace('$', '')
chipo['item_price'] = chipo['item_price'].astype(float)
np.count_nonzero(chipo.item_price>10.00)

/var/folders/17/dvp8q9wx2p366skcqkmmx4t80000gn/T/ipykernel_11364/3906964412.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].str.replace('$', '')

1130

In [41]:
What is the price of each item print a data frame with only two columns item_name and item_price
chipo1 = chipo.groupby(by ="item_name")[["item_price"]].min().reset_index()
chipo1

                                item_name  item_price
0                       6 Pack Soft Drink        6.49
1                           Barbacoa Bowl        8.69
2                        Barbacoa Burrito        8.69
3                   Barbacoa Crispy Tacos        8.99
4                     Barbacoa Salad Bowl        9.39
5                     Barbacoa Soft Tacos        8.99
6                           Bottled Water        1.09
7                                    Bowl        7.40
8                                 Burrito        7.40
9                             Canned Soda        1.09
10                      Canned Soft Drink        1.25
11                          Carnitas Bowl        8.99
12                       Carnitas Burrito        8.69
13                  Carnitas Crispy Tacos        8.99
14                         Carnitas Salad        8.99
15                    Carnitas Salad Bowl        9.39
16                    Carnitas Soft Tacos        8.99
17                           Chicken Bowl        8.19
18                        Chicken Burrito        8.19
19                   Chicken Crispy Tacos        8.49
20                          Chicken Salad        8.19
21                     Chicken Salad Bowl        8.75
22                     Chicken Soft Tacos        8.49
23                                  Chips        1.99
24           Chips and Fresh Tomato Salsa        2.29
25                    Chips and Guacamole        3.89
26      Chips and Mild Fresh Tomato Salsa        3.00
27     Chips and Roasted Chili Corn Salsa        2.95
28     Chips and Roasted Chili-Corn Salsa        2.39
29  Chips and Tomatillo Green Chili Salsa        2.95
30    Chips and Tomatillo Red Chili Salsa        2.95
31  Chips and Tomatillo-Green Chili Salsa        2.39
32    Chips and Tomatillo-Red Chili Salsa        2.39
33                           Crispy Tacos        7.40
34                                   Izze        3.39
35                       Nantucket Nectar        3.39
36                                  Salad        7.40
37                          Side of Chips        1.69
38                             Steak Bowl        8.69
39                          Steak Burrito        8.69
40                     Steak Crispy Tacos        8.69
41                            Steak Salad        8.69
42                       Steak Salad Bowl        9.39
43                       Steak Soft Tacos        8.99
44                            Veggie Bowl        8.49
45                         Veggie Burrito        8.49
46                    Veggie Crispy Tacos        8.49
47                           Veggie Salad        8.49
48                      Veggie Salad Bowl        8.75
49                      Veggie Soft Tacos        8.49

In [42]:
# Sort by the name of the item
chipo.sort_values(by = "item_name",ascending=True).reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,$12.98 $12.98
1,148,1,6 Pack Soft Drink,[Diet Coke],6.49,$6.49
2,749,1,6 Pack Soft Drink,[Coke],6.49,$6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],6.49,$6.49
4,1076,1,6 Pack Soft Drink,[Coke],6.49,$6.49
...,...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,$8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,$8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,$8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,$11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,$8.49

In [44]:
# What was the quantity of the most expensive item ordered
z = np.where(chipo.item_price == chipo.item_price.max(),chipo.quantity,0)
for i in z:
    if i!=0:
        print(i)

15

In [45]:
temp = np.count_nonzero(chipo.item_name == "Veggie Salad Bowl")
print(temp)

18

In [ ]:
temp1 = np.count_nonzero((chipo.item_name == "Canned Soda") & (chipo.quantity > 1))
print(temp1)