In [1]:
import numpy as np

In [2]:
import pandas as pd

In [6]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

In [8]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [13]:
rows_count = len(chipo.index)
print(rows_count)

4622

In [15]:
columns_count = len(chipo.columns)
print(columns_count)

5

In [17]:
name_columns = chipo.columns
print(name_columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [18]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [24]:
most_ordered = chipo.groupby('item_name')
most_ordered = most_ordered.sum()
most_ordered = most_ordered.sort_values(('quantity'), ascending = False)
most_ordered.head(1)

/var/folders/17/dvp8q9wx2p366skcqkmmx4t80000gn/T/ipykernel_11364/602159552.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  most_ordered = most_ordered.sum()

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [31]:
total_items_ordered = chipo.quantity.sum()
total_items_ordered

4972

In [30]:
m_ordered = chipo.groupby('choice_description').sum()
m_ordered = m_ordered.sort_values(['quantity'], ascending = False)
m_ordered.head(1)

/var/folders/17/dvp8q9wx2p366skcqkmmx4t80000gn/T/ipykernel_11364/2663435354.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  m_ordered = chipo.groupby('choice_description').sum()

                    order_id  quantity
choice_description
[Diet Coke]           123455       159